[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
sentencepiece = "*"
protobuf = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.10"
